<!-- This is the menu bar that all the pages of the app will have -->

<nav class="ui menu">
  <header class="ui header item"> <a href="/"> User Management App</a></header>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>