{{> menu }}

<section class="ui center aligned middle aligned segment">
  <p> What do you want to do?</p>
  <div class = "ui three column grid">
    <div class = "ui column">
      <a href="/add_user">ADD A NEW USER</a>
    </div>
    <div class = "ui column">
      <a href="/add_link">ADD A NEW LINK BETWEEN USERS</a>
    </div>
    <div class = "ui column">
      <a href="/retrieve_users">RETRIVE USERS LINKED WITH A CERTAIN USER</a>
    </div>
  </div>
</section>